
    




:root
{
    /* #region Colors */
    /* - Semantic */
    --foreground: #0B0B0A;
    --tint: #8F90A6;
    --gray: #C7C9D9;
    --shade: #EBEBF0;
    --highlight: #F6F6F7;
    --background: #FFFFFF;


    /* --foreground: #FAFAFC; 
    --accent: #F2F2F5; 
    --tint: #DCDDE5; 
    --gray: #8F90A6; 
    --shade: #4D4F65; 
    --highlight: #313352; 
    --background: #28293D;  */

    /* - Semantic */
    --success: #39D98A;
    --info: #5B8DEF;
    --warning: #FDAC42;
    --error: #FF5C5C;

    --brand: rgb(38, 82, 143); 
    /* #endregion */

    /* #region Text Styles */
    --display: 
    "Sail",
    "Oleo Script Swash Caps",
    "Old Standard TT",
    cursive;


    --body:
    "Inter",
    "Be Vietnam Pro", 
    "Rubik", 
    sans-serif;
    /* #endregion */

    /* #region Weight Styles */
    --regular: 300; 
    --bold: 500; 
    /* #endregion */

}

* 
{
    padding: 0px; 
    border: none; 
    margin: 0px; 
    box-sizing: border-box;

    color: inherit; 
    z-index: inherit;
    stroke: inherit; 
    stroke-width: inherit;
    fill: inherit;

    font-size: inherit;
}

/* #region Layout settings */
html 
{
    position: relative; 
    font-size: 14px;

    fill: none; 
    color: var(--foreground); 
    stroke: var(--foreground);

    z-index: 0; 
    font-size: 1rem;
    background-color: var(--background);

}


@media screen and (min-width: 600px) and (min-height: 640px)
{
    html 
    {
        font-size: 16px;
    }
}
/* 
@media screen and (min-width: 840px) and (min-height: 680px)
{
    html 
    {
        font-size: 18px;
    }
} */

body 
{
    position: absolute;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    
    width: 100%; 
    height: 100vh;
}

#root, #app
{
    position: fixed;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    
    width: 100%; 
    height: 100%;

}
/* #endregion */


/* - Default Overides */
/* #region Text */
p, input, button, a, label, h1, h2, h3, h4, h5, h6
{
    font-family: var(--body);
    font-style: normal;
    font-weight: var(--regular);
    line-height: 150%;
}


p.display, h1
{
    font-size: 2rem; 
    font-weight: var(--bold);
    font-family: var(--display);
}

p.heading, h2
{
    font-size: 1.5rem;
    font-weight: var(--bold);
}

p.title, h3 
{
    font-size: 1.25rem;
    font-weight: var(--bold);
}

p.subtitle, h4
{
    font-size: 1.1rem;
    font-weight: var(--bold);
}

p.label, h5
{
    font-weight: var(--bold);
}


p.lead 
{
    font-weight: var(--bold); 
    font-size: 0.95rem;
}

p.caption
{
    font-weight: var(--bold);
    font-size: 0.9rem;
}

p.small
{
    font-size: 0.85rem;
    font-weight: var(--bold);
}

p.tiny 
{
    font-size: 0.85rem;
}

p.truncated
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #endregion */

/* #region Image */
img 
{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}

div > img 
{
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}
/* #endregion */

/* #region Links */
a 
{
    color: var(--brand); 
    font-size: 0.9rem;
    text-decoration: none;
}
/* #endregion */

/* #region Button */
button 
{
    cursor: pointer;
    padding: 8px 24px; 
    border-radius: 2rem;

    color: var(--background);
    background-color: var(--foreground);
}

button:hover
{
    /* box-shadow: 4px 2px 16px rgba(53, 104, 212, 0.12); */
}

button:focus
{
    /* border: 2px solid rgba(40, 41, 61, 0.24); */
}

button.secondary 
{
    border: 1px solid var(--gray); 
    color: var(--foreground); 
    background-color: var(--background);
}

button:disabled, button[aria-disabled], button[disabled]
{
    background-color: var(--shade);
    color: var(--tint) !important; 
    stroke: var(--tint) !important; 

    cursor: default;
    pointer-events: none !important;
}
/* #endregion */

/* #region Input */
input 
{
    background-color: transparent;
}


input::placeholder 
{ 
    /* font-size: 0.9rem; */
    color: var(--gray);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder 
{ 
    /* font-size: 0.9rem; */
    color: var(--gray);
}

input::-ms-input-placeholder 
{
    /* font-size: 0.9rem; */
    color: var(--gray);
}

input:focus,
select:focus,
textarea:focus,
button:focus 
{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] 
{
    -moz-appearance: textfield;

    background-color: transparent;
    cursor: pointer;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* #endregion */

/* #region Icons */
div.icon 
{
    width: 1.5rem; 
    height: 1.5rem;

    display: flex; 
    align-items: center;
    justify-content: center;
}

div.icon > svg 
{
    width: 100%; 
    height: 100%;
}
/* #endregion */


/* #region Articles */
article > p
{
    font-size: 1.25rem;
    margin: 1rem 0px; ;
}
/* #endregion */



