







#store > .viewport > .content 
{
    position: relative; 
    padding: 0px 8vw;
}


#display-tag 
{
    position: sticky; 
    top: 12vh; 
    z-index: -1; 

    height: 12vh;
    max-height: 460px;
    text-align: center;

    margin-top: 24vh;
    margin-bottom: 20vh;

    display: flex; 
    align-items: center;
    justify-content: center;
}

#display-tag h1 
{
    font-size: 280%;
    text-align: center;
}


/* #region Chip Bar */
#categories-chips
{
    position: sticky; 
    top: 8vh; 
    height: 3rem;

    z-index: 5; 

    margin: 4vh 0px; 

    background-color: var(--background); ;


}


@media screen and (min-width: 580px)
{
    #categories-chips div.viewport 
    {
        justify-content: center;
    }

}

/* #endregion */


/* #region Product Catalogue */
#store-items 
{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--background); ;

    min-height: 100vh;

    padding-top: 4vh;
    max-width: 1800px;
    padding-bottom: 12vh;
    /* padding-left: 10vw; 
    padding-right: 10vw; */
}

#store-items .product
{
    width: 42vw;
    min-width: 120px;
    max-width: 40vmin;

    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 2vw; 
    margin-bottom: 10vmin;

    cursor: pointer;
}

#store-items .product.active 
{
    display: flex;
}

#store-items .product .image 
{
    display: flex; 
    align-items: center;
    justify-content: center;

    padding: 0px 2vw; 
}

#store-items .product .image img
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#store-items .product p 
{
    text-align: center;
}

#store-items .product .name
{
    margin-top: 16px;
}

#store-items .product .price 
{
    color: var(--tint);
}
/* #endregion */

















