










main#vendible
{
    padding-top: 4rem;
    padding-bottom: 2vh;
    padding-left: 4vw; 
    padding-right: 4vw;

    position: relative;

    height: 100%;
    width: 100%;

    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: space-between;

    overflow: hidden;
}

main#vendible > section 
{
    width: 100%;
}


/* #region Inspector */
section#inspector 
{
    height: 4.2rem;
}
/* #endregion */

/* #region Showcase */
section#showcase 
{
    position: relative;

    height: calc(100% - 10rem);
    /* height: 100%; */
    padding: 4vh 0px;

    display: flex; 
    align-items: center;
    justify-content: center;
}

#showcase .image 
{
    height: 100%;
    min-height: 200px;
    max-height: 620px;
    padding: 10vmin; 

    display: flex; 
    align-items: center; 
    justify-content: center;
}

@media screen and (max-height: 400px)
{
    section#showcase > div.image 
    {
        padding: 16vmin; 
    }
}

#showcase .image img 
{
    max-height: 100%; 
    max-width: 100%;

    transform: translateY(-28%);
}

#showcase div.cast-shadow 
{
    position: absolute; 
    width: 40vmin; 
    height: 40vmin;
    

    z-index: -1; 

    border-radius: 100%;
    background-color: var(--background);
    opacity: 24%;

    /* display: none; */
}

@media screen and (max-width: 420px) and (min-height: 650px)
{
    #showcase div.cast-shadow 
    {
        width: 64vmin; 
        height: 64vmin;
    }
}
/* #endregion */

/* #region Pricing */
section#pricing 
{
    position: relative; 
    padding: 0.5rem 0px; 
    z-index: 1; 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#pricing > div.leading, section#pricing > div.trailing
{
    width: 20%;
}

section#pricing > div.trailing 
{
    display: flex; 
    justify-content: flex-end;
    align-items: center;;
}

#buy
{
    pointer-events: all;
    background-color: var(--foreground);
    color: var(--background);

    border-radius: 2rem;

    transition-property: background-color, color, scale;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#buy.success
{
    background-color: var(--success);
    color: var(--background);

    transform: scale(1.1);
    transform-origin: center;

    pointer-events: none;
}


@media screen and (max-width: 500px)
{
    body > main 
    {
        padding-bottom: 8vh;
    }

    #vendible 
    {
        padding-bottom: 8vh !important;
    }

    #cta 
    {
        position: absolute;;
        top: 0px; 
        left: 0px; 
        right: 0px;
        bottom: 0px; ;

        z-index: 0; 

        display: flex; 
        align-items: center; 
        justify-content: center;;
    }

    #cta > #buy 
    {
        transform: translateY(130%);
        
    }
}

/* #endregion */



























