







/* #region Chip */
div.chip-bar
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.chip 
{
    display: flex; 
    align-items: center; 
    justify-content: center;

    width: max-content;
    padding: 0.15rem 0.75rem; 

    border-radius: 2rem;

    color: var(--background); 
    background-color: var(--foreground);
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-property: ease;
}

.chip 
{
    margin-right: 0.5rem;
}

.chip.selected 
{
    background-color: var(--foreground);
    color: var(--background);
}

div.chip > div.icon 
{
    width: 1rem;
    height: 1rem;

    stroke-width: 1px;
}

div.chip > p 
{
    padding: 0px 0.1rem; 
    
    text-align: center;
}
/* #endregion */

/* #region Stepper */
div.stepper 
{
    display: flex; 
    align-items: center;
    justify-content: space-between;

    width: max-content;
}

div.stepper > input 
{
    width: 2rem;
    height: 1rem; 

    text-align: center;
    pointer-events: none;
}

div.stepper > div.icon 
{
    cursor: pointer;
}

div.stepper > .icon.danger
{
    stroke: var(--error);
}

div.stepper > div.icon:disabled
{
    opacity: 24%;
    cursor: default;
    pointer-events: none; 
}
/* #endregion */

/* #region Scrollview */
div.scrollview 
{
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center;

    width: 100%; 
    height: 100%;
}

div.scrollview > div.viewport 
{
    position: absolute; 
    top: 0px; 
    left: 0px;
    bottom: 0px; 
    right: 0px; 

    height: 100%; 
    width: 100%;

    overflow: hidden;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

div.scrollview > div.viewport::-webkit-scrollbar 
{
    display: none;
}
  

div.scrollview.horizontal > div.viewport
{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;

    overflow-x: scroll;
}

div.scrollview.vertical > div.viewport 
{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;

    flex-direction: column;
    overflow-y: scroll;
}

div.scrollview > div.viewport > div.content 
{
    width: unset; 
    height: unset;
}

div.scrollview.horizontal > div.viewport > div.content 
{
    height: 100%;
    width: min-content;

    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}

div.scrollview.vertical > div.viewport > div.content 
{
    width: 100%;
    height: min-content;
}
/* #endregion */

/* #region Text Field */
.textfield 
{
    position: relative; 

    display: flex; 
    align-items: center; 
    justify-content: flex-start;

    width: 280px; 
    height: 2rem;

    padding: 0.2rem 0.5rem; 

    border-radius: 0.5rem; 
    border: none;
}

.textfield.error 
{
    border: 1px solid var(--error);
}

.textfield > .icon 
{
    width: 1.5rem; 
    height: 1.5rem;

    stroke: var(--foreground); 
    stroke-width: 1;
}

.textfield > div.input 
{
    width: 100%;
    height: 100%;

    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.textfield > div.input > label 
{
    position: absolute; 
}

.textfield > div.input > input 
{
    width: 100%;
    height: 100%;
}
/* #endregion */


