






/* #region Profile */
.profile > svg 
{
    padding: 0.4rem; 
}

.profile > img 
{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

#profile > .viewport > .content 
{
    padding: 0px 4vw; 
    padding-top: 4rem; 
    padding-bottom: 16vh;
}

#profile .header
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

#profile .header > label
{
    cursor: pointer;
}

#profile .header > label.profile
{
    min-height: 4rem; 
    max-height: 4rem;
    height: 4rem; 
    width: 4rem;
    min-width: 4rem; 
    max-width: 4rem;

    border-radius: 100%; 
    border: 1px solid var(--gray);
}

#profile .header div.profile > svg
{
    padding: 1rem; 
    stroke: 0.5px;

}

#profile .header div.profile
{
    width: 100%; 
    height: 100%;

    border-radius: 10rem;
    overflow: hidden;
}

#profile .header > .info
{
    flex-grow: 1;
    margin: 0px 1rem; 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;

    gap: 0.25rem; 
}

#profile .header > .info .chip 
{
    font-size: 0.9rem;
}
/* #endregion */


/* #region Authentication */
#profile #authentication 
{
    margin: 2rem 0px; 
}

#authentication .grid 
{
    margin: 1.5rem 0px; 
}

#authentication .grid > .textfield 
{
    width: 100%;
}

#authentication > div.confirm 
{
    display: flex; 
    align-items: center; 
    justify-content: center;

    margin: 0.5rem 0px; 
}
/* #endregion */

/* #region Delivery */
#deliveries > .content
{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem 1rem;
}

div.delivery
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;

    height: 12rem;

    border: 1px solid var(--gray);
    border-radius: 1rem; ;
}

div.delivery > .scrollview 
{
    height: 8rem; ;
    padding: 0px 1.5rem; 
    padding-top: 1rem; 
    
    border-bottom: 1px solid var(--gray);
}

div.delivery > .scrollview .content 
{
    padding-left: 1rem;
}

div.delivery > .scrollview .content > div.image 
{
    height: 4rem; 
    width: 4rem;

    margin-right: 1rem;
}

div.delivery > div.info 
{
    width: 100%;
    padding: 0.5rem 1rem; 
}
/* #endregion */


/* #region Purchases */


#profile div.empty-state 
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;

    margin: 5vh 0px; 
}

#profile div.empty-state > h2 
{
    font-family: var(--display);
    width: 100%;
}

#profile div.empty-state > div.illustration 
{
    width: 36vmin; 
    height: 36vmin; 
    min-width: 240px; 
    min-height: 240px;
    
    padding: 1rem 1rem;
    margin: 0rem 0px; 
}
/* #endregion */


