






/* #region Profile */
.profile > svg 
{
    padding: 0.4rem; 
}

#profile > .viewport > .content 
{
    padding: 0px 4vw; 
    padding-top: 4rem; 
    padding-bottom: 16vh;
}

#profile .header
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;

    margin-bottom: 8vh;

}

#profile .header > .profile
{
    height: 5rem; 
    width: 5rem;

    border-radius: 100%; 
    border: 1px solid var(--gray);
}

#profile .header > .profile > svg
{
    padding: 1rem; 
    stroke: 0.5px;

}

#profile .header > .info
{
    flex-grow: 1;
    margin: 0px 1rem; 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
}
/* #endregion */



/* #region Delivery */
#deliveries > .content
{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem 1rem;
}

div.delivery
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;

    height: 12rem;

    border: 1px solid var(--gray);
    border-radius: 1rem; ;
}

div.delivery > .scrollview 
{
    height: 8rem; ;
    padding: 0px 1.5rem; 
    padding-top: 1rem; 
    
    border-bottom: 1px solid var(--gray);
}

div.delivery > .scrollview .content 
{
    padding-left: 1rem;
}

div.delivery > .scrollview .content > div.image 
{
    height: 4rem; 
    width: 4rem;

    margin-right: 1rem;
}

div.delivery > div.info 
{
    width: 100%;
    padding: 0.5rem 1rem; 
}
/* #endregion */



